/* all rounder */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* font styling in blocks */
.play-area>.block{
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
}

/* container position */
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
}

#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}
.occupied:hover {
  background: #ff3a3a;
}
.play-area {
  display: grid;
  width: 80vw;
  max-width: 450px;
  height: 80vw;
  max-height: 450px;
  margin: 10px;
  grid-template-columns: auto auto auto;
}
.block {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: bold;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
}

.block:hover {
  cursor: pointer;
  background: black;
  color: white;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
}
button {
  outline: none;
  border: 4px solid black;
  border-radius: 7px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2vh;
  background: none;
  transition: all 0.2s ease-in-out;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}
